---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Loading from "../../components/Loading.astro";

import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("articles");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post
	}));
}

type Props = CollectionEntry<"articles">;

const article = Astro.props;
const { Content } = await render(article);

const { title, pubDate, updatedDate, draft } = article.data;
const { url } = article.data;
---

{
	draft ? (
		<MainLayout>
			<Loading />
		</MainLayout>
	) : (
		<BlogLayout {title} {pubDate} {updatedDate}>
			<main>
				<Content />
			</main>
		</BlogLayout>
	)
}

<script is:inline define:vars={{ url, draft }}>
	if (draft) {
		location.href = "/";
	}
	if (url) {
		location.href = url;
	}
</script>
