---
import ArticleLink from "../../components/ArticleLink.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Search from "../../components/Search.astro";

import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<MainLayout>
	<main data-pagefind-ignore>
		<div class="search">
			<Search />
		</div>
		<div>
			{
				articles.map(({ data, id }) =>
					!data.draft ? <ArticleLink title={data.title} url={`/articles/${id}`} /> : null
				)
			}
		</div>
	</main>
</MainLayout>

<style>
	.search {
		width: 80%;
		margin: 20px auto;
	}
</style>
