---
import "@fontsource/mochiy-pop-one";

import MainLayout from "../layouts/MainLayout.astro";
import ContentsBlock from "../components/ContentsBlock.astro";
import ArticleLink from "../components/ArticleLink.astro";
import Profile from "../components/Profile.astro";

import { getCollection } from "astro:content";

const articles = (await getCollection("articles"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 30);
---

<MainLayout>
	<div class="layout">
		<div class="right">
			<div class="profile">
				<ContentsBlock>
					<Profile />
				</ContentsBlock>
			</div>
		</div>
		<div class="left">
			{
				articles.map(({ data, id }) =>
					!data.draft ? <ArticleLink title={data.title} url={`/articles/${id}`} /> : null
				)
			}
		</div>
	</div>
</MainLayout>

<style>
	.layout {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.profile {
		overflow: hidden;
		width: 85%;
		margin: 0 0 0 auto;
	}
	p {
		color: black;
	}

	@media screen and (max-width: 950px) {
		.layout {
			grid-template-columns: 100%;
		}
		.profile {
			width: 100%;
			margin: 0;
		}
	}
</style>
