---
export type Props = {
	style?: string;
};

const { style } = Astro.props;
---

<main>
	<div class="block" style={style}>
		<slot />
	</div>
</main>

<style>
	main {
		overflow: hidden;
		width: 80%;
		margin: 20px auto;
		border-radius: 25px;
		background-color: white;
	}
	.block {
		overflow: hidden;
		margin: 30px 20px;
	}
</style>
