---
import { REPOSITORY, SITE_NAME } from "../consts";
---

<footer class="bg-gray-700">
	<div class="footer-contents">
		<div class="url">
			<p>
				<a href={REPOSITORY.url} target="_blank" rel="noopener noreferrer">{SITE_NAME}</a>
			</p>
		</div>
	</div>
</footer>

<style>
	footer {
		overflow: hidden;
	}
	.footer-contents {
		overflow: hidden;
		margin: 10px 0;
	}
	.url {
		text-align: center;
	}
	p {
		color: white;
	}
</style>
