---
export type Props = {
	url: string;
	title: string;
	icon: string;
};

const { url, title, icon } = Astro.props;
---

<a class="block" href={url} target="_blank" rel="noopener noreferrer">
	<div class="layout">
		<div class="link-icon">
			<img src={icon} alt="" />
		</div>
		<div class="info">
			<p>{title}</p>
			<p class="url">{url}</p>
		</div>
	</div>
</a>

<style>
	.block {
		margin: 8px auto;
	}
	.layout {
		display: grid;
		grid-template-columns: 40px auto;
		gap: 5px;
	}
	.info .url {
		color: gray;
		font-size: 12px;
	}
	.link-icon {
		place-content: center;
	}
	.link-icon img {
		border-radius: 50%;
		width: 100%;
		margin: auto;
	}
</style>
