---
import "../styles/global.css";
import "../styles/link-card.css";

import { SITE_NAME, SITE_DESCRIPTION } from "../consts";

export type Props = {
	title?: string;
	description?: string;
	color?: string;
	keywords?: string[];
};

const site = Astro.site;
const { title, description, keywords, color } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta name="keywords" content={(keywords ?? ["プログラミング"]).join(", ")} />
		<meta name="theme-color" content={color ?? "#00fa9a"} />
		<meta name="description" content={description ?? SITE_DESCRIPTION} />

		<title>{title ?? "Home"} / {SITE_NAME}</title>

		<meta property="og:url" content={site ? site.toString() : "https://wktk.moe"} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={`${title ?? "Home"} / ${SITE_NAME}`} />
		<meta property="og:description" content={description ?? SITE_DESCRIPTION} />
		<meta property="og:site_name" content={SITE_NAME} />

		<meta name="format-detection" content="telephone=no,email=no,address=no" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@AlwaysHarapan" />
		<meta name="twitter:creator" content="@AlwaysHarapan" />
	</head>
	<body>
		<slot />
	</body>
</html>
