---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export type Props = {
	title?: string;
	description?: string;
	color?: string;
	keywords?: string[];
};
---

<Layout {...Astro.props}>
	<div class="layout">
		<div>
			<Header />
			<slot />
		</div>
		<div>
			<Footer />
		</div>
	</div>
</Layout>

<style>
	.layout {
		display: grid;
		min-height: 100vh;
		grid-template-rows: 1fr auto;
	}
</style>
